{% extends "base.html" %}

{% block content %}


    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>About this Project</h2>
                <p>
                    NCT car checker tool was developed as part of my Masters Thesis Project and to know about NCT history of car brands. This tool was developed by using the NCT yearly dataset from 2015-19. This tool would help public to know which brands of cars performed better,
                    there by maximizing chances of passing NCT. Also to query NCT vehicle testing data and to give facts and figures. This tool was designed using python Django framework and object-oriented programming.
                    Python libraries such as pandas, were used to read the dataset.
                </p>
            </div>
            <div class="col-sm-4">

                <address>
                    <abbr title="Name" ></abbr> <a href="mailto:#">Saraswathi Jujjuri</a>
                </address>
            </div>
        </div>




{% endblock %}
