{% extends "base.html" %}

{% block content %}	
	
	<div class="container">
	<h2 class="header">Top Faults for <span class="text-black">{{ make }} {{ model }}</span></h2>
	<h3 class="header spacing"> Cars that failed testing: <span class="text-black">{{ total |floatformat:"2" }}</h3>

	<div class="row">
		<div>
			<table class="table table-striped">
				<tbody>

				<tr class="text-blue-big">
				    <th class="header">Fault Description</th>
				    <th class="header">Percentage(%)</th>
				    <th class="header"></th>

			    </tr>
			    {% for record, percentage in results.items %}
					<tr>
						<td>
							<b>{{ record }}</b>
						</td>
						<td class="value-cell">
						{{ percentage |floatformat:"2"}}%
						</td>
						<td>
						<div id="rectangle" style="background:#2ECCFA; height: 15px;width:  {{ percentage }}px">&nbsp;</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		</div>

		</div>
	</div>
	

{% endblock %}